.device-data{
    display: none;
    width: 100%;
    font-size: 20px;
    
}

.show-data{
    display: block;
    width: 100%;
    font-size: 20px;
    
}
.list-devices-data{
    margin-top: 50px;
    width: 100%;
    
}